/**
 * Fichier css principal.
 */

.panel-heading {
  cursor: pointer;
}

.panel-footer a {
  color: inherit;
  cursor: pointer;
  margin: 0 10px 0 0;
}

.panel-footer a:hover {
  text-decoration: none;
}

.panel-footer a span {
  margin: 0 5px 0 0;
}

.panel-body p {
  margin: 0;
  padding: 0;
}

.list-inline {
  padding: 0;
  margin: 0;
  display: inline-block;
}
